body {
    margin: 0;
    padding: 0;
    font-family: Open-Sans, sans-serif;
}

.hero {
    background-image: url("./assets/img/home-bg.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &-profile {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        background-image: url("./assets/img/Profile.png");
        background-size: cover;
        background-position: 0;
        border: 5px solid white;
    }

    &-content {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-title {
            font-size: 48px;
        }

        &-context {
            font-size: 36px;
            filter: blur(1px);
        }
    }
}

.about {
    height: 100vh;

    &-title {
        text-align: center;
        font-size: 5rem;
        margin: 20px 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    &-subtitle {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    &-context {
        font-size: 1.5rem;
        text-align: justify;
        padding: 20px;
        line-height: 1.5;
    }

    &-skills {
        padding: 20px;
        line-height: 1.5;

        &-title {
            font-size: 1.5rem;
        }

        .progress {
            background-color: #e9ecef;
            border-radius: 20px;
        }

        .progress-bar {
            background-color: #333;
            /* Siyah ton */
            border-radius: 20px;
        }
    }
}

.experience {
    background-color: #d3d3d3;

    &-title {
        text-align: center;
        font-size: 5rem;
        margin: 20px 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    &-box {
        width: 50%;
        padding: 30px;
        background: #fff;
        box-shadow: -1px 3px 30px rgba(0, 0, 0, 0.08);
        margin-bottom: 30px;
        position: relative;
        gap: 10px;

        &-header {
            font-size: 1.5rem;
            font-size: 20px;
            margin-bottom: 5px;
            font-weight: 700;
            color: #333;
            position: relative;
            padding-bottom: 5px;
            margin-bottom: 15px;
        }

        &-subtitle {
            font-size: 20px;
            margin-bottom: 15px;
            margin-top: 0px;
        }

        &-about {
            font-size: 12px;
            margin-bottom: 10px;
            color: #298ef6;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

@media (max-width:1366px) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {
    .about {
        height: auto;
    }

    .experience {
        &-box {
            width: 100%;
        }
    }
}

@include media-breakpoint-down(sm) {
    .hero {
        &-profile {
            width: 250px;
            height: 250px;
        }

        &-content {
            &-title {
                font-size: 36px;
            }

            &-context {
                font-size: 24px;
            }
        }
    }

    .about {
        &-title {
            font-size: 3rem;
        }

        &-subtitle {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        &-context {
            font-size: 1rem;
        }

        &-skills {
            &-title {
                font-size: 1rem;
            }
        }
    }
    .experience{
        &-title{
            font-size: 3rem;
            line-height: 1.5;
        }
    }
}

@include media-breakpoint-down(def) {}